/* =====================
   General Description
   ===================== */
#generalDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

#generalDesc .titleContainer {
    text-align: center;
}
